<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style
      include ../static/css/style.css
</head>
<body>
    <nav class="navbar">
        <ul class="ulOfNavbar">
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Service</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
    </nav>
    <div class="home">
        <h1>Get this gym membership for 60$ - Fill this form now!</h1>
        <form action="/" method="post" id="contact">
            <input type="text" name="name" id="name" placeholder="Input your name">
            <input type="text" name="age" id="age" placeholder="Input your age">
            <input type="text" name="gender" id="gender" placeholder="Input your gender">
            <input name="address" name="address" id="address" placeholder="Input your address">
            <input name="more" name="more" id="more" placeholder="More about you...">
            <button class="btn">Submit</button>
        </form>
    </div>
</body>
</html>